#phone-icon-settings {
    background-image: url("../../img/icons/settings.png");
}

#settings_bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 207px;
    height: 365px;
    z-index: 1;
    transition: left 0.25s ease;
    overflow: hidden;
    background-size: cover;
}

#settings_bg .ringtone {
    display: none;
}

#settings_bg .notification {
    display: none;
}

#settings button {
    display: block;
    float: left;
    width: 103px;
    height: 30px;
    line-height: 30px;
    background-color: #dcdcdc;
    border-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

#settings button.marged {
    margin-left: 1px;
}

#settings #setting_cancel {
    background-color: #d9534f;
}

#settings #setting_save {
    background-color: #5cb85c;
}

#settings label, #settings label input {
    margin: 5px;
}