<div id="settings_bg" class="phone_bg">
    <div class="ringtone"></div>
    <div class="notification"></div>
</div>

<div id="settings" class="screen">
    <div class="head-screen"><span id="btn-settings-back" class="btn-head btn-head-back"></span><span
            class="header-title">{{locale.settings}}</span></div>
    <div class="container">
        <div class="content-screen">
            <input type="hidden" id="setting_phone_number" value="0" />
            <label>{{locale.background}}<input type="text" id="setting_background" value="{{cfg.background}}"></label>
            <label>{{locale.ringtone}}<input type="text" id="setting_ringtone" value="{{cfg.ringtone}}"></label>
            <label>{{locale.notification}}<input type="text" id="setting_notification" value="{{cfg.notification}}"></label>
            <button id="setting_cancel">{{locale.cancel}}</button>
            <button id="setting_save" class="marged">{{locale.save}}</button>
        </div>
    </div>
</div>