<div id="jobs" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span>{{locale.mainLabel}}
    </div>
    <div class="container">
        <div class="content-screen jobs-list">
            <div class="job no-item">
                <p class="no-item">{{locale.unemployed}}</p>
            </div>
        </div>
    </div>
</div>

<div id="jobDetails" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
        <span id="btn-head-manage-business" class="btn-head btn-head-new"></span>
        <div class="dropdown">
            <div class="dropdown-content">
                <p class="employ">{{locale.employ}}</p>
                <p class="manageRoles">{{locale.manageRoles}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-screen business-detail">
        </div>
    </div>
</div>

<div id="employeeDetails" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
    </div>
    <div class="container">
        
    </div>
</div>

<div id="employForm" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
    </div>
    <div class="container">
        <p>
            <label>{{locale.stateId}}<input type="text" id="stateId"></label>
        </p>
        <p>
            <label class="editRole">{{locale.role}}<select id="employRole"></select></label>
        </p>
        <button id="employCharacter" class="marged">{{locale.save}}</button>
    </div>
</div>

<div id="jobRolesDetails" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
        <span id="btn-head-manage-roles" class="btn-head btn-head-new"></span>
        <div class="dropdown">
            <div class="dropdown-content">
                <p class="addRole">{{locale.addRole}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-screen roles-list">
        </div>
    </div>
</div>

<div id="jobRolesEdit" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
    </div>
    <div class="container">
        <p>
            <label>{{locale.role}}<input type="text" id="roleName" disabled="true"></label>
        </p>
        <p>
            <label class="editRoleSecurity">{{locale.canHire}}<input type="checkbox" id="canHire"></label>
        </p>
        <p>
            <label class="editRoleSecurity">{{locale.canFire}}<input type="checkbox" id="canFire"></label>
        </p>
        <p>
            <label class="editRoleSecurity">{{locale.canAddRole}}<input type="checkbox" id="canAddRole"></label>
        </p>
        <p>
            <label class="editRoleSecurity">{{locale.canDeleteRole}}<input type="checkbox" id="canDeleteRole"></label>
        </p>
        <p>
            <label class="editRoleSecurity">{{locale.canChangeRole}}<input type="checkbox" id="canChangeRole"></label>
        </p>
        <p>
            <label class="editRoleSecurity">{{locale.canPromote}}<input type="checkbox" id="canPromote"></label>
        </p>
        <button id="deleteRole">{{locale.delete}}</button>
        <button id="saveRole" class="marged">{{locale.save}}</button>
    </div>
</div>