<div id="jobs" class="screen">
    <div class="head-screen"><span id="btn-head-back-msg" class="btn-head btn-head-back"></span>{{locale.mainLabel}}
        <!--<span id="btn-head-new-message" class="btn-head btn-head-new"></span>-->
    </div>
    <div class="container">
        <div class="content-screen jobs-list">
            <div class="job no-item">
                <p class="no-item">{{locale.unemployed}}</p>
            </div>
        </div>
    </div>
</div>

<div id="jobDetails" class="screen">
    
</div>