<div id="jobs" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span>{{locale.mainLabel}}
    </div>
    <div class="container">
        <div class="content-screen jobs-list">
            <div class="job no-item">
                <p class="no-item">{{locale.unemployed}}</p>
            </div>
        </div>
    </div>
</div>

<div id="jobDetails" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
        <span id="btn-head-manage-business" class="btn-head btn-head-new"></span>
        <div class="dropdown">
            <div class="dropdown-content">
                <p class="employ">{{locale.employ}}</p>
                <p class="manageRoles">{{locale.manageRoles}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-screen business-detail">
        </div>
    </div>
</div>

<div id="employeeDetails" class="screen">
    <div class="head-screen">
        <span class="btn-head-back-jobs btn-head btn-head-back"></span><span class="businessLabel"></span>
    </div>
    <div class="container">
        
    </div>
</div>