<div class="contact {{online}}">
    <div class="sender-info">
        <div class="center">
            <span class="sender">{{sender}}</span><br/><span class="phone-number">#{{phoneNumber}}</span>
        </div>
    </div>
    <div class="actions">
        <span class="del-contact" data-contact-number="{{phoneNumberData}}" data-contact-name="{{senderData}}">X</span>
        <span class="new-msg newMsg-btn" data-contact-number="{{phoneNumberData}}" data-contact-name="{{senderData}}"></span>
        <span class="new-call newCall-btn" data-contact-number="{{phoneNumberData}}" data-contact-name="{{senderData}}"></span>
    </div>
</div>